﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>
                                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)
                            </li>
                            @foreach (Avala.Mef.Framework.Core.Web.IActionVerb actionVerb in Avala.Mef.Framework.Web.Application.GetVerbsForCategory("Navigation"))
                            {
                            <li>
                                @Html.ActionLink(actionVerb.Name, actionVerb.Action, actionVerb.Controller, new { area = actionVerb.Area }, null)
                                <ul>
                                    @foreach (Avala.Mef.Framework.Core.Web.IActionVerb secondaryActionVerb in (actionVerb.Children ?? new List<Avala.Mef.Framework.Core.Web.IActionVerb>()))
                                    {
                                    <li>
                                        @Html.ActionLink(secondaryActionVerb.Name, secondaryActionVerb.Action, secondaryActionVerb.Controller, new { area = secondaryActionVerb.Area }, null)
                                        <ul>
                                        @foreach (Avala.Mef.Framework.Core.Web.IActionVerb tertiaryActionVerb in (secondaryActionVerb.Children ?? new List<Avala.Mef.Framework.Core.Web.IActionVerb>()))
                                        {
                                            <li>@Html.ActionLink(tertiaryActionVerb.Name, tertiaryActionVerb.Action, tertiaryActionVerb.Controller, new { area = tertiaryActionVerb.Area }, null)</li>
                                        }
                                        </ul>
                                    </li>
                                    }
                                </ul>
                            </li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
